.display {
    width: 90%;
    min-height: 50vh;
    position: relative;
    top: 130px;
    
  }
  .product-image img{width: 25%;}
  .qwe{margin-right:-20%;float: left;}
  .mainProduct{    clear: both;
    float: left;
    margin-bottom: 14px;
    border-bottom: 2px solid #eee;
    padding: 4px;}
    .mainOrder{
        margin-bottom: 4%;
    box-shadow: 8px 10px #eeeeee;
    border: 1px solid #eee;
    float: left;

    }
    .orderTitle{
        margin-left: 2%;
    }
  