<div class="signup container">

  <div class="title row">
    
    <div class="col-md-8">
      <p>SIGN UP</p>
      <span>Welcome back to Ashish Demo</span>
    </div>

  </div>

  <div class="row">
    <div class="col-md-12">
      <div *ngFor="let e of (authState | async).errors">
        <div class="alert alert-warning">Email Id already registered</div>
      </div>
    </div>
  </div>

  <div class="form row">
    <div class="col-md-12">
      <div *ngIf="(authState | async).loading" class="loader"></div>
      <form [formGroup]="signUpForm" (ngSubmit)="onSubmitted()">
        <div class="form-group col-md-6">
          <label for="firstName">First Name</label>
          <input type="text" id="firstName" class="form-control" name="firstName" formControlName="firstName">
          </div>
        <div class="form-group col-md-6">
          <label for="lastName">Last Name</label>
          <input type="text" id="lastName" class="form-control" name="lastName" formControlName="lastName" [maxlength]="240">
                 </div>

        <div class="form-group col-md-12">
          <label for="email">EMAIL</label>
          <input type="text" id="email" class="form-control" name="email" formControlName="email" [maxlength]="240">
          <span *ngIf="signUpForm.get('email').invalid && signUpForm.get('email').touched" class="alert-danger">
            Please enter a valid email!
          </span>
        </div>

        <div formGroupName="passwordGroup">
          <div class="form-group col-md-6">
            <label for="newPassword">PASSWORD</label>
            <input type="password" id="newPassword" class="form-control" name="newPassword"
              formControlName="newPassword" [maxlength]="240">
            <span
              *ngIf="signUpForm.get('passwordGroup.newPassword').invalid && signUpForm.get('passwordGroup.newPassword').touched">
              <span *ngIf="signUpForm.get('passwordGroup.newPassword').errors['required']" class="alert-danger">This
                field is required!</span>
              <span *ngIf="signUpForm.get('passwordGroup.newPassword').errors['minlength']" class="alert-danger">The
                password should at least be 6 digits!</span>
            </span>
          </div>
          <div class="form-group col-md-6">
            <label for="newPasswordConfirm">PASSWORD REPEAT</label>
            <input type="password" id="newPasswordConfirm" class="form-control" name="newPasswordConfirm"
              formControlName="newPasswordConfirm" [maxlength]="240">
            <span
              *ngIf="signUpForm.get('passwordGroup.newPasswordConfirm').invalid && signUpForm.get('passwordGroup.newPasswordConfirm').touched">
              <span *ngIf="signUpForm.get('passwordGroup.newPasswordConfirm').errors['required']"
                class="alert-danger">This field is required!</span>

            </span>
            <span *ngIf="signUpForm.get('passwordGroup').invalid && signUpForm.get('passwordGroup').touched">
              <span
                *ngIf="signUpForm.get('passwordGroup').errors != null && signUpForm.get('passwordGroup').errors['noMatch']"
                class="alert-danger">Your passwords must match!</span>
            </span>

          </div>
        </div>


        <div class="row">
          <div class="col-md-12">
            <button class="btn btn-info" [disabled]="signUpForm.invalid || signUpForm.pending" type="submit">Register
            </button>
           <div class="fieldRequire">(*All fields are required)</div>
          </div>
        </div>

        <div class="signin row">
          <div class="col-md-12">
            <a routerLink="/login">
              <p>Already have an account? <span>Login!</span></p>
            </a>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
