<div class="display container-fluid">
  <div class="row" *ngIf="(cartState | async).cart && (cartState | async).cart.length > 0 ;else emptyCart">
    <div class="cart-info col-md-8">
      <div class="title">
        <p>Shopping Cart</p>
        <span>You have {{cartItemCount}} item<span *ngIf="cartItemCount > 1">s</span> in your cart.</span>
      </div>
      <div *ngFor="let e of (cartState | async).errors">
        <div *ngIf="e.errorEffect == 'REMOVE_FROM_CART'" class="alert-warning p-2">
          <div *ngIf="e.error.status === 400 || e.error.status === 401">Could not remove item.</div>
          <div *ngIf="e.error.status === 500 || e.error.status === 0">Internal server error! Please contact our
            support team.
          </div>
        </div>
      </div>
      <div class="row item" *ngFor="let cartItem of (cartState | async).cart">
        <div class="col-md-3 product-image qwe">
          <img src="assets/images/product/{{cartItem.image}}" alt="{{cartItem.title}}" (click)="goToItem(cartItem.id)" />
        </div>

        <div class="col-md-3 description" (click)="goToItem(cartItem.id)">
          <span>
            {{cartItem.name}}
          </span>
        </div>

        <div class="col-md-3 quantity">
          <div *ngIf="(cartState | async).loading" class="loader"></div>
          <div *ngIf="!(cartState | async).loading">
            <button class="minus-btn" type="button" [disabled]="cartItem.qty<=1" (click)="qtyDecrement(cartItem.id,cartItem.qty)">
              -
            </button>
            <span>{{cartItem.qty}}</span>
            <button class="plus-btn" type="button" (click)="qtyIncrement(cartItem.id,cartItem.qty)">
              +
            </button>
          </div>
        </div>

        <div class="col-md-2 item-price">
          <span>INR {{cartItem.amount}} </span>
        </div>

        <div class="col-md-1 delete">
          <div *ngIf="(cartState | async).loading" class="loader"></div>
          <span *ngIf="!(cartState | async).loading" (click)="removeFromCart(cartItem.id)"></span>
        </div>
      </div>
    </div>
    <div class="summary col-md-4">
      <div class="title">
        Summary
      </div>
      <div class="pricing">
        <div class="row">
          <div class="col-md-4 col-4">
            <span class="label">Cart</span>
          </div>
          <div class="col-md-8 col-8">
            <span>INR {{cartTotal.toFixed(2) | number:'1.2' }}</span>
          </div>
        </div>
        <div class="row ">
          <div class="col-md-4 col-4">
            <span class="label">Shipping</span>
          </div>
          <div class="col-md-8 col-8">
            <span>INR {{this.shippingValue.toFixed(2) | number:'1.2' }}</span>
          </div>
        </div>
        <div class="allTotal">
          <div class="row ">
            <div class="col-md-4 col-4">
              <span class="label">Grand Total</span>
            </div>
            <div class="col-md-8 col-8">
              <span>INR {{this.grandTotal.toFixed(2) | number:'1.2' }}</span>
            </div>
          </div>
        </div>


      </div>

      <div class="checkout">
        <div class="row">
          <div class="col-md-12">
            <a routerLink="/checkout" class="btn btn-info">Checkout</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #emptyCart>
  <div *ngIf="(cartState | async).cart.length == 0">
    <app-empty-cart></app-empty-cart>
  </div>
</ng-template>
